:root {
    --primary-color: #0B2F9F;
    --darkened-primary: #161D6F;
    --footer-color: #F4B860;
    --secondary-color: #4dab42;
    --tertiary-color: #C2095A;
    --tertiary-darkened: #a5044a;
    --link-color: #7c7c7c;
    --skill-column-height: 600px;
}

body {
    animation: fadeInAnimation ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    margin: 0;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.flex-nav {
    background-color: #ffffff;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ---------- Name Title ---------- Name Title ---------- Name Title ---------- Name Title ---------- */
.name-div {
    background-color: var(--primary-color);
    color: #ffffff;    
    padding-left: 16px;
    padding-right: 25px;

    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:"wdth" 100;

    font-size: 22px;
}

.name-link-div {
    display: flex;
    align-items: center;

    color: var(--link-color);
    
    padding-left: 16px;
    padding-right: 25px;

    transition: 0.3s;

    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:"wdth" 100;

    font-size: 22px;
}

.name-link-div:hover {
    background-color: var(--primary-color);
    transition: 0.3s;
    color: #ffffff;
}

.name-link-div:hover > p a {
    color: #ffffff;
}

.title-text:link {
    font-size: 22px;
    color: black;
    text-decoration: none;
}

.title-text:visited {
    color: black;
    text-decoration: none;
}
/* ---------- Name Title ---------- Name Title ---------- Name Title ---------- Name Title ---------- */



/* ------ Splash ------ Splash ------ Splash ------ Splash ------ Splash ------ Splash ------ Splash ------ */
.splash {
    display: grid;
    grid-template-columns: 360.75px 1fr;
}

#info-bar {
    width: auto;
    height: 700px;
    background-color: var(--primary-color);

    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile {
    margin-top: 10px;
    border-radius: 50%;
    border-style: solid;
    border-color: #ffffff;
    border-width: 5px;
    width: 250px;
    height: 250px;
    object-fit: cover;
}

#address-paragraph {
    font-family: "Prompt", sans-serif;
    font-weight: 300;
    font-style: normal;
    color:#ffffff;
    font-size: 14px;
}

.info-box {
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    border-color: var(--darkened-primary);
    padding: 0px 5px 0px 5px;
    background-color: #ffffff;
    width: 70%;
}

.box-text {
    margin-top: 0px;
    margin-bottom: 6px;
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#7c7c7c;
    font-size: 14px;
}

h2 {
    margin-top: 4px;
    margin-bottom: 0px;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 390;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

h1 {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    color: var(--footer-color);
    font-size: 60px;
    margin: 0;
}

#tag-line {
    margin: 0;
    color: #565656;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

.tag-container {
    position: relative;
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.palette {
    margin-top: 30px;
    margin-right: 9%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
}

.block1 {
    width: 30px;
    height: 30px;
    background-color: var(--darkened-primary);
}

.block2 {
    width: 30px;
    height: 30px;
    background-color: var(--primary-color);
}

.block3 {
    width: 30px;
    height: 30px;
    background-color: var(--secondary-color);
}

.block4 {
    width: 30px;
    height: 30px;
    background-color: var(--footer-color);
}

.block5 {
    width: 30px;
    height: 30px;
    background-color: var(--tertiary-color);
}
/* ------ Splash ------ Splash ------ Splash ------ Splash ------ Splash ------ Splash ------ Splash ------ */



/* ------------------------ Leadership and Experience ------------------------ Leadership and Experience ------------------------ */
.lea-section-container {
    width: 100%;
    height: auto;
    background-color: var(--tertiary-color);
}

#lea {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    color: #ffffff;
    font-size: 60px;
    margin: 0;
}

.lea-top {
    transition: 0.3s;
    display: flex;
    justify-content: end;
    margin-right: 10px;
    transform: translateY(-22px);
}

@media (max-width: 1100px) {
	.lea-top {
		transform: none;
        transition: 0.3s;
	}

    .lea-mid {
        transition: 0.3s;
        position: relative;
        transform: translateY(14px);
    }
}

.lea-mid {
    transition: 0.3s;
    position: relative;
    display: flex;
    justify-content: end;
    margin-top: -22px;
}

.dl-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 660px;
}

.list-dd {
    color: white;
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#ffffff;
    font-size: 20px;
    padding-bottom: 3px
}

.list-dl {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #ffffff;
    padding-bottom: 3px;
}

#list-gp-link {
    transition: 0.3s;
    color: var(--footer-color);
    text-decoration: none;
}

#list-gp-link:hover {
    transition: 0.3s;
    color: #ffcd82;
    text-decoration: none;
}

.lea-bot {
    display: flex;
    justify-content: flex-start;
    column-gap: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

#erwin-quote-block {
    padding: 0 10px 0 10px;
    border-radius: 10px;
    background-color: var(--tertiary-darkened);
    display: flex;
    flex-direction: column;
}

#ben-quote-block {
    padding: 0 10px 0 10px;
    border-radius: 10px;
    height: 80px;
    background-color: var(--tertiary-darkened);
    display: flex;
    flex-direction: column;
}

.quote {
    color: white;
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#ffffff;
    font-size: 12px;
    width: 190px;
    margin-bottom: 0;
}

.quoter {
    margin-left: 5px;
    margin-top: 2px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #ffffff;
}

hr.lea-line {
    border: 3px solid var(--tertiary-darkened);
    border-radius: 5px;
    width: 96.5%;
}

/* ------------------------ Leadership and Experience ------------------------ Leadership and Experience ------------------------ */



/* ------ Skills ------ kills ------ kills ------ kills ------ kills ------ kills ------ */
h2.skills {
    background-color: var(--darkened-primary);
    text-align: center;
    padding: 20px 0;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    color: #ffffff;
    font-size: 60px;
    margin-top: 0;
}

.skills-grid {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.column1 {
    height: var(--skill-column-height);
    background-color: var(--primary-color);

    display: flex;
    flex-direction: column;
}

.column2 {
    height: var(--skill-column-height);
    background-color: #5887FF;

    display: flex;
    flex-direction: column;
}

.column3 {
    height: var(--skill-column-height);
    background-color: #55C1FF;

    display: flex;
    flex-direction: column;
}

.column4 {
    height: var(--skill-column-height);
    background-color: #A682FF;

    display: flex;
    flex-direction: column;
}

h1.category {
    text-align: center;
    padding-top: 10px;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    color: #ffffff;
    font-size: 40px;
}

.skills > li {
    color: white;
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#ffffff;
    font-size: 15px;
}
/* ------ Skills ------ kills ------ kills ------ kills ------ kills ------ kills ------ */



/* ----------------- Honors and Awards ----------------- Honors and Awards ----------------- Honors and Awards ----------------- */
.haa-section-container {
    width: 100%;
    height: 270px;
    background-color: var(--secondary-color);
}

.haa-top {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    place-items: center;
}

h2.haa-title {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    color: white;
    font-size: 60px;
    padding-left: 10px;

}

.award-block-one {
    grid-column-start: 3;
    padding: 0 10px 0 10px;
    border-radius: 10px;
    border: 5px solid #328928;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.award-block-two {
    width: 150px;
    grid-column-start: 5;
    padding: 0 10px 0 10px;
    border-radius: 10px;
    border: 5px solid #328928;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.award-title {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin: 3px 0;
    font-variation-settings:"wdth" 100;
}

.award-det {
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 3px;
    font-size: 15px;    
}

hr.haa-line {
    border: 3px solid #328928;
    border-radius: 5px;
    width: 98.5%;
}
/* ----------------- Honors and Awards ----------------- Honors and Awards ----------------- Honors and Awards ----------------- */



/* ------------ Menu Options ------------ Menu Options ------------ Menu Options ------------ Menu Options ------------ */
.menu-div {
    display: flex;
    align-items: center;

    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 470;
    font-style: normal;
    font-variation-settings:"wdth" 75;

    font-size: 12
}

.menu-option {
    display: flex;
    align-items: center;

    padding-left: 10px;
    padding-right: 10px;

    transition: 0.3s;
    
    height: 73.6px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.menu-option:hover {
    background-color: var(--primary-color);
    color: #ffffff;
    transition: 0.3s;
}

.menu-option:hover > a {    
    color: #ffffff;
}

.menu-link:link {
    color: var(--link-color);
    text-decoration: none;
    transition: 0.3s;
}

.menu-link:visited {
    color: var(--link-color);
    text-decoration: none;
}

/* When on the page corresponding to the clicked page option*/
.menu-option-selected {
    display: flex;
    align-items: center;

    padding-left: 10px;
    padding-right: 10px;
    
    background-color: var(--primary-color);
    color: #ffffff;

    height: 73.6px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
/* ------------ Menu Options ------------ Menu Options ------------ Menu Options ------------ Menu Options ------------ */



/* -------------- LinkedIn Icon -------------- LinkedIn Icon -------------- LinkedIn Icon -------------- LinkedIn Icon -------------- */
.menu-linkedin-option {
    display: flex;
    align-items: center;

    padding-left: 10px;
    padding-right: 10px;

    transition: 0.3s;
    
    height: 73.6px;
    border-bottom-left-radius: 10px;
}

.menu-linkedin-option:hover {
    background-color: var(--primary-color);
    color: #ffffff;
    transition: 0.3s;
}

.menu-linkedin-option:hover #linkedin-svg {
    background-color: var(--primary-color);
    fill: #ffffff;
    transition: 0.3s;
}

#linkedin-svg {
    transition: 0.3s;
    fill: var(--link-color);
}
/* -------------- LinkedIn Icon -------------- LinkedIn Icon -------------- LinkedIn Icon -------------- LinkedIn Icon -------------- */



/* ------ Footer ------ Footer ------ Footer ------ Footer ------ Footer ------ Footer ------ Footer ------*/
.fixed-footer {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 20px;

    color: #ffffff;

    background-color: var(--footer-color);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 20px;

    color: #ffffff;

    background-color: var(--footer-color);
}

.footer-text {
    color: #ffffff;

    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    font-size: 12px;
    font-style: normal;
    font-variation-settings:"wdth" 55;
}

.footer-text:link {
    color: #ffffff;
    text-decoration: none;
}
/* ------ Footer ------ Footer ------ Footer ------ Footer ------ Footer ------ Footer ------ Footer ------*/



/* -------- Card CSS -------- Card CSS -------- Card CSS -------- Card CSS -------- Card CSS -------- */
.grid-container {
    margin-top: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.three-col {
    display: grid;  
    grid-template-columns: 1fr 1fr 1fr;

    column-gap: 100px;
}

.card {
    position: relative;
    opacity: 0.5;

    height: 450px;
    width: 300px;

    border-radius: 10px;

    box-shadow: 0 4px 8px 0 #5180a9;
    transition: 0.3s;
}

.card-img {
    height: 168.75px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card:hover {
    opacity: 1;
    transition: 0.3s;
    box-shadow: 0 10px 20px 0 #5180a9;
  }

.project-title-grid {
    height:50px;
    display:grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;

}

.project-title-text {
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: #626262;
    padding-left: 15px;
}

.project-date-text {
    padding-right: 10px;
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 14px;
    color: var(--link-color);
}

.project-description {
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 12px;
    color: #626262;
}

.project-description > ul {
    list-style-position: inside;
    padding-left: 15px;
    padding-right: 10px;
}

li {
    margin-bottom: 10px;
}

.card-bottom {
    position:absolute;
    left: 225px;
    bottom: 10px;

}

.button {
    padding-top: 2px;
    height: 30px;

    display: flex;
    align-items: center;
    gap: 4px;

    border-radius: 40px;
    width: 65px;
    background-color: var(--primary-color);
    transition: 0.3s;
}

.button:hover {
    transition: 0.3s;
    background-color: var(--secondary-color);
}

.play-svg {
    padding-left: 5px;
    fill:#ffffff;
    width: 20px;
}

.play-text {
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 10px;
    color: #ffffff;
    padding-bottom: 2px;
}

.button-link {
    text-decoration: none;
}
/* -------- Card CSS -------- Card CSS -------- Card CSS -------- Card CSS -------- Card CSS -------- */



/* ------------ Contact Page ------------ Contact Page ------------ Contact Page ------------ Contact Page ------------ Contact Page ------------ */
.contact-container {
    display: flex;
    height: 500px;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

/* ---------- Email Form ---------- Email Form ---------- Email Form ---------- Email Form ---------- */
.email-form-card {
    padding-top: 30px;
    padding-bottom: 30px;
    border: #aaaaaa;
    border-radius: 20px;
    border-style: solid;
    align-items: center;
    width: 400px;
}

.one-col {
    display: grid;
    grid-template-rows: 10px 20px 1fr 1fr 3fr;
    row-gap: 15px;
    justify-content: center;
}

.center-element {
    display: flex;
    justify-content: center;
    align-items: center;
}

#reach-text {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    color: #626262;
    font-size: 14px;
}

#email-text {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    color: black;
    font-size: 20px;
}

input[type=text]:focus {
    transition: 0.2s;
    outline: 0;

    border: 2px solid var(--primary-color);
}

input[type=text]:active {
    transition: 0.2s;
    outline: 0;
}

input[type=text] {
    width: 300px;
    transition: 0.2s;

    border: 2px;
    border-radius: 10px;
    border-style: solid;
    border-color: #7c7c7c;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;

    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 13px;
}

input[type=text]:not(:placeholder-shown) {
    border-color: var(--secondary-color);
    color: #626262;
}

input[type=email]:not(:placeholder-shown) {
    border-color: var(--secondary-color);
    color: #626262;
}

input[type=email] {
    width: 300px;
    transition: 0.2s;

    border: 2px;
    border-radius: 10px;
    border-style: solid;
    border-color: #7c7c7c;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;

    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 13px;
}

input[type=email]:focus {
    transition: 0.2s;
    outline: 0;

    border: 2px solid var(--primary-color);
}

input[type=mail]:active {
    transition: 0.2s;
    outline: 0;
}


#message {
    transition: 0.2s;
    border: 2px;
    border-style: solid;
    border-color: #7c7c7c;
    outline: 0;
    border-radius: 10px;
    width: auto;
    resize: none;

    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 13px;

    padding-top: 5px;
    padding-left: 12px;
}

#message:not(:placeholder-shown) {
    border-color: var(--secondary-color);
    color: #626262;
}

#message:focus {
    border-color: var(--primary-color);
}

input[type=submit] {
    transition: 0.3s;

    background-color: var(--primary-color);
    border-radius: 40px;
    width: 120px;
    height: 25px;
    border-style: none;

    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 1px;
    color: #ffffff;
}

input[type=submit]:hover {
    transition: 0.3s;
    background-color: var(--secondary-color);
}
/* ---------- Email Form ---------- Email Form ---------- Email Form ---------- Email Form ---------- */

/* -------------- Image Section -------------- Image Section -------------- Image Section -------------- */
.image-decoration-container {
    padding-top: 90px;
}

.image-bottom {
    display: flex;
    margin: 0;
    padding-top: 0;
    justify-content: space-between;
}

.image-decoration-text{
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    color: #ababab;
    font-size: 14px;
}
/* -------------- Image Section -------------- Image Section -------------- Image Section -------------- */

/* ------------ Contact Page ------------ Contact Page ------------ Contact Page ------------ Contact Page ------------ Contact Page ------------ */





/* -------- Art Page -------- Art Page -------- Art Page -------- Art Page -------- Art Page -------- Art Page -------- */
:root {
    --art-card-width: 300px;
}

.art-board {
    display: grid;
    grid-template-columns: repeat(4, 320px);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
    justify-items: center;
}

.art-flex-column {
    display: flex;
    flex-direction: column;
}

.art-card {
    padding: 0;
    margin: 5px 10px;
    width: var(--art-card-width);
}

.art-card > img {
    border-radius: 20px;
    width: var(--art-card-width);
}

.art-card > p {
    padding-left: 8px;
    margin-top: 0px;
    margin-bottom: 0px;

    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#232323;
    font-size: 14px;
}
/* -------- Art Page -------- Art Page -------- Art Page -------- Art Page -------- Art Page -------- Art Page -------- */