body {
    margin: 0;
}

.flex-nav {
    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name-div {
    padding-top: 3px;
    padding-left: 16px;

    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
    font-variation-settings:"wdth" 100;

    font-size: 22px;
}

.title-text:link {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
    font-variation-settings:"wdth" 100;

    font-size: 22px;

    color: black;
    text-decoration: none;
}

.title-text:visited {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
    font-variation-settings:"wdth" 100;

    font-size: 22px;
    
    color: black;
    text-decoration: none;
}

.page-div {
    display: flex;
    align-items: center;

    padding-right: 16px;

    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 470;
    font-style: normal;
    font-variation-settings:"wdth" 75;

    font-size: 12
}

.page-link:link {
    color: #7c7c7c;
    text-decoration: none;
}

.page-link:visited {
    color: #7c7c7c;
    text-decoration: none;
}

.page-link:hover {
    color: black;
}

.page-div > a {
    padding-left: 20px;
}

/* When on the page corresponding to the clicked page option*/
.page-div > p {
    font-weight: 700;
    padding-left: 20px;
}

svg {
    fill: #7c7c7c;
}

svg:hover {
    fill: black;
}

/* Footer */
.fixed-footer {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 20px;

    color: #ffffff;

    background-color: #1994ff;
}

.footer-text {
    color: #ffffff;

    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    font-size: 12px;
    font-style: normal;
    font-variation-settings:"wdth" 55;
}

.footer-text:link {
    color: #ffffff;
    text-decoration: none;
}

/* Card CSS */

.grid-container {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.three-col {
    display: grid;  
    grid-template-columns: auto auto auto;

    column-gap: 100px;
}

.card {
    height: 450px;
    width: 300px;

    border-radius: 10px;

    box-shadow: 0 4px 8px 0 #5180a9;
    transition: 0.3s;

}

.card-img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card:hover {
    box-shadow: 0 10px 20px 0 #5180a9;
  }

.project-title {
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.project-title-text {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:"wdth" 200;
    
    font-size: 25px;
}

