:root {
    --primary-color: #1994ff;
    --link-color: #7c7c7c;
}

body {
    margin: 0;
}

.flex-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ---------- Name Title ---------- Name Title ---------- Name Title ---------- Name Title ---------- */
.name-div {
    background-color: var(--primary-color);
    color: #ffffff;

    border-bottom-right-radius: 25px;
    
    padding-left: 16px;
    padding-right: 25px;

    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    font-variation-settings:"wdth" 100;

    font-size: 22px;
}

.name-link-div {
    color: var(--link-color);

    border-bottom-right-radius: 25px;
    
    padding-left: 16px;
    padding-right: 25px;

    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    font-variation-settings:"wdth" 100;

    font-size: 22px;
}

.title-text:link {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"wdth" 100;

    font-size: 22px;

    color: black;
    text-decoration: none;
}

.title-text:visited {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
    font-variation-settings:"wdth" 100;

    font-size: 22px;
    
    color: black;
    text-decoration: none;
}
/* ---------- Name Title ---------- Name Title ---------- Name Title ---------- Name Title ---------- */



/* ------------ Menu Options ------------ Menu Options ------------ Menu Options ------------ Menu Options ------------ */
.menu-div {
    display: flex;
    align-items: center;

    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 470;
    font-style: normal;
    font-variation-settings:"wdth" 75;

    font-size: 12
}

.menu-option {
    display: flex;
    align-items: center;

    padding-left: 10px;
    padding-right: 10px;

    transition: 0.3s;
    
    height: 73.6px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.menu-option:hover {
    background-color: var(--primary-color);
    color: #ffffff;
    transition: 0.3s;
}

.menu-option:hover > a {    
    color: #ffffff;
}

.menu-link:link {
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
}

.menu-link:visited {
    color: var(--link-color);
    text-decoration: none;
}

/* When on the page corresponding to the clicked page option*/
.menu-option-selected {
    display: flex;
    align-items: center;

    padding-left: 10px;
    padding-right: 10px;
    
    background-color: var(--primary-color);
    color: #ffffff;

    height: 73.6px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
/* ------------ Menu Options ------------ Menu Options ------------ Menu Options ------------ Menu Options ------------ */



/* -------------- LinkedIn Icon -------------- LinkedIn Icon -------------- LinkedIn Icon -------------- LinkedIn Icon -------------- */
.menu-linkedin-option {
    display: flex;
    align-items: center;

    padding-left: 10px;
    padding-right: 10px;

    transition: 0.3s;
    
    height: 73.6px;
    border-bottom-left-radius: 10px;
}

.menu-linkedin-option:hover {
    background-color: var(--primary-color);
    color: #ffffff;
    transition: 0.3s;
}

.menu-linkedin-option:hover svg {
    background-color: var(--primary-color);
    fill: #ffffff;
    transition: 0.3s;
}

svg {
    transition: 0.3s;
    fill: var(--link-color);
}
/* -------------- LinkedIn Icon -------------- LinkedIn Icon -------------- LinkedIn Icon -------------- LinkedIn Icon -------------- */




/* Footer */
.fixed-footer {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 20px;

    color: #ffffff;

    background-color: var(--primary-color);
}

.footer-text {
    color: #ffffff;

    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    font-size: 12px;
    font-style: normal;
    font-variation-settings:"wdth" 55;
}

.footer-text:link {
    color: #ffffff;
    text-decoration: none;
}

/* Card CSS */

.grid-container {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.three-col {
    display: grid;  
    grid-template-columns: 1fr 1fr 1fr;

    column-gap: 100px;
}

.card {
    height: 450px;
    width: 300px;

    border-radius: 10px;

    box-shadow: 0 4px 8px 0 #5180a9;
    transition: 0.3s;

}

.card-img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card:hover {
    box-shadow: 0 10px 20px 0 #5180a9;
  }

.project-title {
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.project-title-text {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:"wdth" 200;
    
    font-size: 25px;
}

