@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #0B2F9F;
  --darkened-primary: #161D6F;
  --footer-color: #F4B860;
  --secondary-color: #4dab42;
  --tertiary-color: #C2095A;
  --tertiary-darkened: #a5044a;
  --link-color: #7c7c7c;
  --skill-column-height: 600px;
}

body {
  animation: fadeInAnimation ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  margin: 0;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}